/* ----------  Navbar ---------- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.nav-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo img {
  height: 60px;
}

.nav-link {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
  font-size: 18px;
}

.nav-link:hover {
  color: #78716b;
}
